body {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    height: 100vh;
    width: 100vw;
    display: flex;
    margin: 0;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
}

/* Activation Flexbox Horizontal */
.header,
.footer,
.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10vw;
    margin: 0px;
}

/* Activation Flexbox Vertical */
.content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex: 1;
}

/*  Activation Stretching Vertical des sections */
.section {
    flex: 1;
}

/* Flexbox Centre */
.footer {
    justify-content: center;
}

/* Couleur de fond */
.header,
.footer,
.hero {
    color: #e5e7eb;
    background-color:#1F2937 ;
}

/* Padding */
.header,
.hero {
    padding: 1rem 1.5rem;
}
.logo {
    font-size: 48px;
    font-weight: 700;
}
ul {
    display: flex;
    margin: 0;
    padding: 0;
    list-style-type: none;
    gap: 1rem;;
}

a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
    text-wrap-mode: nowrap;
}
.hero p {
    width: 350px;
}
img {
    height: 300px;
    width: auto;
}
button.signup {
    background-color: #3882F6;
    color: #fcfdfe;
    width: 100px;
    height: 28px;
    border: 0;
    border-color: #3882F6;
    border-radius: 6px;
    

}